# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo

# Virtual environments
.venv/
env/
venv/

# VSCode
.vscode/

# Flask-specific
instance/
*.db

# OS
.DS_Store
Thumbs.db

# ML models
.envmodels/*.h5
models/

classified_temp/