{% extends "dashboard_base.html" %}
{% block title %}Tagify – Edycja użytkownika{% endblock %}
{% block content %}
<div class="auth-container">
  <div class="edit-header">
    <a href="{{ url_for('admin.dashboard') }}" class="icon-button back-button" title="Powrót do listy">
      <i class="fas fa-arrow-left"></i>
    </a>
    <h2>Edytuj użytkownika</h2>
  </div>

  <form method="POST" novalidate>
    {{ form.hidden_tag() }}

     <div class="form-group">
      <div class="form-input-wrapper">
        <i class="fas fa-user"></i>
        {{ form.username(class="form-input", placeholder="Nazwa użytkownika") }}
      </div>
      {% for error in form.username.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group">
      <div class="form-input-wrapper">
        <i class="fas fa-envelope"></i>
        {{ form.email(class="form-input", placeholder="Adres e-mail") }}
      </div>
      {% for error in form.email.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group">
      <label for="role">{{ form.role.label }}</label>
      <div class="form-input-wrapper">
        <i class="fas fa-user-tag"></i>
        {{ form.role(class="form-input") }}
      </div>
      {% for error in form.role.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>

    {{ form.submit(class="btn", style="margin-top: 3em") }}
  </form>
</div>
{% endblock %}
