{% extends 'dashboard_base.html' %}

{% block content %}
<div class="user-panel">
  <h2>Ustawienia konta</h2>

  <div class="account-info">
    <p><strong>Nazwa użytkownika:</strong> {{ current_user.username }}</p>
    <p><strong>Email:</strong> {{ current_user.email }}</p>
    <p><strong>Typ konta:</strong> {{ current_user.role.value | capitalize }}</p>
  </div>

  <div class="account-actions">
    <a href="{{ url_for('user.edit_profile') }}" class="btn">Edytuj profil</a>
    <a href="{{ url_for('user.change_password') }}" class="btn btn-outline">Zmień hasło</a>
  </div>
</div>
{% endblock %}
