{% extends 'dashboard_base.html' %}
{% block content %}
<div class="user-panel">
  <h2>Zmień hasło</h2>
  <form method="POST">
    {{ form.hidden_tag() }}

    <label for="current_password">Obecne hasło</label>
    {{ form.current_password(class="form-input") }}

    <label for="new_password">Nowe hasło</label>
    {{ form.new_password(class="form-input") }}

    <label for="confirm_password">Potwierdź nowe hasło</label>
    {{ form.confirm_password(class="form-input") }}

    {{ form.submit(class="btn") }}
  </form>
</div>
{% endblock %}
