{% extends 'layout_base.html' %}

{% block title %}Tagify – Panel użytkownika{% endblock %}

{% block navbar %}
<nav class="navbar">
  <div class="nav-container">
    <a class="brand" href="{{ url_for('user.dashboard') }}">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Tagify logo" class="logo">
      <span>Tagify</span>
    </a>

    {% if current_user.is_authenticated %}
      <div class="nav-center">
        <span class="username">Witaj, {{ current_user.username }}</span>
      </div>
      <div class="nav-links">
        {% if current_user.is_admin() %}
          <a href="{{ url_for('admin.dashboard') }}">Zarządzaj</a>
        {% endif %}
        <a href="{{ url_for('user.dashboard') }}">Klasyfikacja</a>
        <a href="{{ url_for('user.account_settings') }}">Ustawienia</a>
        <a href="{{ url_for('auth.logout') }}">Wyloguj</a>
      </div>
    {% endif %}
  </div>
</nav>
{% endblock %}
